body,
html {
  font-family: $base-font-family;
  font-size: 13px;
  line-height: 1.33em;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  height: 640px;
  width: 100vw;
  border:1px solid red;
  img{
    height:100vh;
    max-width:none;
  }
}

h1{
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
  font-family: $font-stack-header;
}
#main {}

.page-width {
  max-width: $width-site;
  margin: auto;
  position: relative;
}

.tabStyle {
  font-size: 11px;
  padding: 0 6px;
  background: $color-secondary;
  font-weight: bold;
  margin: 4px 4px 0 0;
  color: white;
  border-radius: 22px;
}


ul.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  li {
    @extend .tabStyle;

    &:before {
      //  position: absolute;
      font-family: "Lucida Console";
      font-size: 13px;
      content: '# ';
    }

    &:hover {
      background: $color-active;
    }
    //  @extend .icon-hash;
  }
}
