$global-font-size: 16px;
$global-width: rem-calc(1200);
$global-lineheight: 1.8em;

$body-font-family: 'ocrf-regular',monospace;
$body-antialiased: true;
$body-font-family-heavy: 'ocrf-regular',monospace;
