.btn
/*================ Links & Buttons ================*/
 {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);

  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  //border-bottom: 2px solid $color-accent;
  line-height: 32px;
  border-bottom: 2px solid transparent;
  transition: all 0.23s ease-in-out 0s;
  &:hover{
    color: $color-accent;
    border-bottom: 2px solid $color-accent;
  }
}
