section.music{
  margin-top:-24px;
  background-size: cover;
  background-repeat: none;
  .inner{
    padding: 4rem 0;
      @include media-query($medium-up) {
        padding: 10rem 0;
      }
    iframe{
      @extend .effect8;
    }
  }
}
